$mainGray: #999;

.navBar {
  position: relative;
  height: 12vh;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  li {
    float: left;
    padding: 0 16px;
    font-size: 20px;
    color: white;
  }

  li a {
    display: block;
    color: white;
    text-align: center;

    text-decoration: none;
  }

  li:hover {
    color: $mainGray;
  }

  h1 {
    padding: 1rem;
  }

  .mainTitle {
    color: Black;
    font-size: 1.2rem;
  }
}

.landing {
  position: relative;
  width: 100%;
  height: 88vh;
  display: flex;
  flex-wrap: wrap;

  .landingBlock {
    width: 50%;
    height: 50%;
    border: 0.3px solid black;
    background-color: #c1c1c1;
  }
}

.landingCard {
  width: 100%;
  .landCardiMG {
    padding: 1rem;
  }

  .landCardText {
    padding: 2rem;
  }
}
